export(from.pointer.ms)
export(as.pointer.ms)
useDynLib(rtfbs)
export(ms)
export(summary.ms)
S3method(summary, ms)
export(write.ms)
export(lengths.ms)
export(names.ms)
S3method(names, ms)
export(print.ms)
S3method(print, ms)
export(read.ms)
export(is.pointer.ms)
export(split.ms)
export(gcContent.ms)
export(groupByGC.ms)
export(read.mm)
export(length.ms)
export(write.mm)
export(build.mm)
export(read.pwm)
export(score.ms)
export(simulate.ms)
export(sequences.ms)
export(offsets.ms)
S3method("[", ms)
export("[.ms")
export(concat.ms)
export(calc.fdr)
export(plot.fdr)
export(output.sites)
